<h2> Pizza Order: <%= @order.id %> </h2>

<hr />

<p> First Name: <%= @order.first_name %> </p>
<p> Last Name: <%= @order.last_name %> </p>
<p> Topping: <%= @order.topping %> </p>
<p> Quantity: <%= @order.quantity %> </p>
